* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* EJERCICIO 5.1 */

.tabla {
    width: 100%;
    text-align: start;
    border-color: solid 2px black;
    font-family: sans-serif;
    font-size: 14px;
}

.filaBlanca {
    background-color: white;
    height: 32px;
}

.filaGris {
    background-color: #E7EBE9;
    height: 32px;
}